{% extends 'base.html' %}
{% load static %}

{% block title %}Contraseña Restablecida{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'landing/css/landing.css' %}">
{% endblock %}

{% block content %}
<section class="auth-main content-start-offset">
    <h2 class="section-title">Contraseña Cambiada</h2>
    
    <div class="auth-form bg-textura">
        <p>Tu contraseña ha sido establecida con éxito. Ya puedes iniciar sesión con tu nueva contraseña.</p>
        
        <p class="mt-4">
            <a href="{% url 'landing:login' %}" class="btn-primary">Iniciar Sesión Ahora</a>
        </p>
    </div>
</section>
{% endblock %}