{% extends 'base.html' %}
{% load static %}

{% block title %}Nueva Contraseña{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'landing/css/landing.css' %}">
{% endblock %}

{% block content %}
<section class="auth-main content-start-offset">
    <h2 class="section-title">Restablecer Contraseña</h2>
    
    <div class="auth-form bg-textura">
        {% if validlink %}
            <p>Introduce tu nueva contraseña a continuación.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }} 
                
                <button type="submit" class="btn-primary mt-3">Cambiar Contraseña</button>
            </form>
        {% else %}
            <p class="error-message">❌ El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Por favor, solicita un nuevo restablecimiento de contraseña.</p>
        {% endif %}
    </div>
</section>
{% endblock %}