{% extends 'base.html' %}
{% load static %}

{% block title %}Instrucciones Enviadas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'landing/css/landing.css' %}">
{% endblock %}

{% block content %}
<section class="auth-main content-start-offset">
    <h2 class="section-title">Instrucciones Enviadas</h2>

    <div class="auth-form bg-textura">
        <p>Hemos enviado las instrucciones para establecer tu contraseña al correo electrónico proporcionado.</p>

        <p class="mt-3">Si no lo encuentras en unos minutos, <strong>revisa tu carpeta de spam</strong>.</p>

        <p class="mt-4">Gracias.</p>

        <div class="form-links mt-4">
            <p>
                <a href="{% url 'landing:login' %}" class="btn-primary-small">Volver al Inicio de Sesión</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}